Host github.com
	User git
	StrictHostKeyChecking no
	IdentityFile ~/.ssh/id_rsa
	IdentitiesOnly yes
  
Host gitlab.gizwits.com
	User git
	StrictHostKeyChecking no
	IdentityFile ~/.ssh/id_rsa
	IdentitiesOnly yes
