.body {
  background: $light-gray;
  padding: {
    top: 50px;
  }

  .heading {
    border-bottom: 1px solid $light-gray;
    .title {
      font-size: 28px;
    }
    .edit-link {
      float: right;
    }
  }

  .navigation,
  .markdown-body {
    background: white;
  }

  .navigation {
    width: 18%;
    line-height: 2em;
    font-size: .8em;
    position: fixed;
    left: 5%;
    border: 1px solid $dark-gray;
    box-shadow: 2px 2px 10px $dark-gray;
    margin: {
      top: 50px;
    }
    padding: {
      top: 20px;
      bottom: 20px;
    }
    .active {
      background: $yellow;
    }
    ol,
    li {
      list-style-type: none;
    }
    ol {
      padding-left: 0;
      ol {
        display: none;
      }
    }
    a {
      display: block;
      white-space: nowrap;
      width: 100%;
      padding: 10px 20px;
      color: $black;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        background: $light-gray;
      }
    }
    .h1:before {
      content: '>\0000a0';
    }
    .h2 {
      padding-left: 33px;
    }
  }
}