.body {
  background: $light-gray;
  padding: {
    top: 50px;
  }

  .heading {
    border-bottom: 1px solid $light-gray;
    position: relative;
    .title {
      font: {
        size: 28px;
        weight: bold;
      }
      margin-top: -10px;
    }
    .edit-link {
      color: #686868;
      position: absolute;
      bottom: 20px;
      right: 0;
    }
  }

  .navigation,
  .markdown-body {
    background: #fcfcfc;
    margin: {
      top: 30px;
    }
  }

  .navigation {

    .navigation-inner {
      position: fixed;
      width: 220px;
      background-color: white;
      border: 1px solid $dark-gray;
      box-shadow: 2px 2px 10px $dark-gray;
      padding: {
        top: 20px;
      }
      line-height: 2em;
      font-size: 14px;
    }
    .nav {
      max-height: 400px;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .nav-control {
      text-align: center;
      border-top: 2px solid $dark-gray;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
      padding: {
        top: 10px;
        bottom: 10px;
      }
    }
    
    float: left;
    width: 220px;
    margin: {
      right: 20px;
    }
    
    .nav-title {
      margin: 0;
      margin-left: 15px;
      margin-top: 10px;
      font-size: 18px;
    }
    .active {
      &,
      &:hover {
        background: $yellow;
      }
    }
    ul,
    li {
      list-style-type: none;
    }
    ul {
      padding-left: 0;
      li {
        &:hover {
          background: $dark-gray;
        }
      }
    }
    a {
      padding: 3px 20px;
      display: block;
      white-space: nowrap;
      width: 100%;
      color: #3c4145;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .h2 {
      a {
        padding-left: 33px;
      }
      display: none;
    }
  }
}
