.body {
  background: $light-gray;
  padding: {
    top: 50px;
  }

  .navigation,
  .markdown-body {
    background: white;
    padding: 20px;
  }

  .navigation {
    line-height: 2em;
    font-size: .8em;
    position: fixed;
    left: 10%;
    margin: {
      top: 50px;
    }
    a {
      display: block;
      white-space: nowrap;
      color: $black;
      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
    .h1:before {
      content: '>\0000a0';
    }
    .h2 {
      padding-left: 12px;
    }
  }
}