* {
  box-sizing: border-box;
  font-family: PingFangSC-thin,Hiragino Sans GB,Helvetica,HelveticaNeue,tahoma,arial,Source Han Sans CN,Microsoft YaHei,Heiti SC,\\5b8b\4f53,sans-serif
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 50px;
}

a {
  &,
  &:hover {
    text-decoration: none;
  }
}

@media (min-width: $break-lg) {
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    clear: both;
    zoom: 1;
  }
}

::-webkit-scrollbar {
display: none;
}
