.footer {
  font-size: 12px;
  text-align: center;
  background: $light-gray;
  padding: {
    top: 40px;
    bottom: 40px;
  }
  p,
  a {
    color: #999;
  }
  p {
    margin: 10px 0;
  }
  span {
    border-left: 1px solid #999;
    padding-left: 15px;
    margin-left: 15px;
    &:first-child {
      border: none;
      padding: 0;
      margin: 0;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}