.header {
  line-height: 50px;
  background: $black;
  vertical-align: middle;
  
  .brand a{
    color: $yellow;
  }

  .logo {
    img {
      vertical-align: middle;
    }
  }

  .text {
    margin-left: 20px;
    padding: 10px 0 10px 20px;
    border-left: 1px solid $yellow;
  }

  .menu {
    line-height: 40px;
    ul {
      padding-left: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      list-style-type: none;
      padding: 5px 15px;
      &:hover {
        cursor: pointer;
      }
    }
    &,
    a {
      color: $yellow;
      &,
      &:hover {
        text-decoration: none;
      } 
    }
    .levelA,
    .levelB {
      position: relative;
    }
    .levelB-wrapper,
    .levelC-wrapper {
      white-space: nowrap;
      display: none;
      position: absolute;
      background: white;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 10px #eee;
      &,
      & a {
        color: black;
      }
      li:hover {
        background: #eee;
      }
    }
    .levelB-wrapper {
      left: 0;
      top: 100%;
    }
    .levelC-wrapper {
      left: 100%;
      top: 0;
    }
    .levelB,
    .levelC {
      display: block;
    }
  }

  .lang-switch {
    padding: 0;
    border: 0;
    background: none;
    color: $yellow;
    &:focus {
      outline: none;
    }
  }
}