.header {
  line-height: 50px;
  background: $black;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  z-index: 999999;
  font-size: 14px;
  
  .brand {
    font: {
      weight: bold;
    }
    a{
      color: $yellow;
    }
  }

  .logo {
    color: $yellow;
    img {
      vertical-align: middle;
    }
  }

  .text {
    margin-left: 20px;
    padding: 5px 0 5px 20px;
    border-left: 1px solid $yellow;
  }

  .menu {
    a {
      padding: 0 15px;
      display: block;
    }
    ul {
      padding-left: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      list-style-type: none;
      &:hover {
        cursor: pointer;
      }
    }
    &,
    a {
      color: $yellow;
      &,
      &:hover {
        text-decoration: none;
      } 
    }
    .levelA,
    .levelB {
      position: relative;
    }
    .levelB-wrapper,
    .levelC-wrapper {
      white-space: nowrap;
      display: none;
      position: absolute;
      background: white;
      border: 1px solid $dark-gray;
      box-shadow: 2px 2px 10px $light-gray;
      &,
      & a {
        color: $black;
      }
      li:hover {
        background: $dark-gray;
      }
    }
    .levelB-wrapper {
      left: 0;
      top: 100%;
      padding: 10px 0;
    }
    .levelC-wrapper {
      left: 100%;
      top: 0;
    }
    .levelB,
    .levelC {
      display: block;
      &,
      a {
        line-height: 2em;
      }
    }
    .levelB.has-submenu {
      padding: 0 15px;
    }
    .levelA {
      padding: 0 10px;
      &:first-child {
        padding: {
          left: 15px;
        }
      }
      > a {
        padding: 0;
      }
    }
  }

  .fa-globe {
    color: $yellow;
    margin-right: 3px;
  }

  .lang-switch {
    padding: 0;
    border: 0;
    background: none;
    color: $yellow;
    &:focus {
      outline: none;
    }
  }
}