@font-face {
  font-family: 'iconfont';
  src: url('https://at.alicdn.com/t/font_1459332919_3852491.eot'); /* IE9*/
  src: url('https://at.alicdn.com/t/font_1459332919_3852491.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://at.alicdn.com/t/font_1459332919_3852491.woff') format('woff'), /* chromeã€firefox */
  url('https://at.alicdn.com/t/font_1459332919_3852491.ttf') format('truetype'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
  url('https://at.alicdn.com/t/font_1459332919_3852491.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.header {
  line-height: 50px;
  background: $black;
  vertical-align: middle;
  
  .brand a{
    color: $yellow;
  }

  .logo {
    font-family: "iconfont";
    font-style: normal;
    font-size: 1.8em;
  }

  .text {
    margin-left: 20px;
    padding: 10px 0 10px 20px;
    border-left: 1px solid $yellow;
  }

  .menu {
    line-height: 40px;
    ul {
      padding-left: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      list-style-type: none;
      padding: 5px 15px;
      &:hover {
        cursor: pointer;
      }
    }
    &,
    a {
      color: $yellow;
      &,
      &:hover {
        text-decoration: none;
      } 
    }
    .levelA,
    .levelB {
      position: relative;
    }
    .levelB-wrapper,
    .levelC-wrapper {
      white-space: nowrap;
      display: none;
      position: absolute;
      background: white;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 5px #ddd;
      &,
      & a {
        color: black;
      }
    }
    .levelB-wrapper {
      left: 0;
      top: 100%;
    }
    .levelC-wrapper {
      left: 100%;
      top: 0;
    }
    .levelB,
    .levelC {
      display: block;
    }
  }

  .lang-switch {
    padding: 0;
    border: 0;
    background: none;
    color: $yellow;
    &:focus {
      outline: none;
    }
  }
}