.highlight {
  border: 1px solid #ddd;
  font-size: 14px;
  background: #f8f8f8;
  padding: 10px 20px;
  position: relative;
  color: #333;
  margin: 21px;
  pre {
    overflow: visible;
  }
  .gutter {
    border: none;
    pre {
      display: none;
    }
  }
  .fa {
    cursor: pointer;
  }
  .code {
    pre {
      position: relative;
      font-weight: bold;
    }
  }

  table,
  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }

  .line {
    margin: 5px 0;
  }
}

pre,
code {
  font-family: font-mono;
  color: #333;
  // font-size: 0.95em;
  font-size: 15px;
}

code {
  padding: 0 5px;
  background: #f6f6f6;
}


pre code {
  border: none;
  display: block;
  padding: 0 30px;
}

.highlight table {
  margin: 0 !important;
  border: 0;
}

.highlight table th,
.highlight table td {
  padding: 0;
}

.highlight figcaption {
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: color-gray;
}

.highlight figcaption a {
  float: right;
}

.highlight pre {
  white-space: pre-wrap;
  padding: 0;
  border: none;
  background: none;
}

pre .comment,
pre .title {
  color: #998;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #009926;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #0086b3;
}

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #458;
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #d14;
}

pre .css .hexcolor {
  color: #458;
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #900;
}

pre .keyword,
pre .javascript .function {
  color: #990073;
}
