.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.8;
  word-wrap: break-word;
  padding: 30px;
  padding-bottom: 50px;
  width: 840px;
  float: right;
  position: relative;
  border: 1px solid #e7e7e7;
  box-shadow: 2px 2px 10px #e7e7e7;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color:#484848;
  }

  h1,
  h2 {
    a.anchor {
      display: none;
      margin-left: 10px;
      color: $black;
    }
    &:hover {
      a.anchor {
        display: inline;
      }
    }
  }

  h1,
  h2 {
    &:before {
      content: '';
      display: block;
      margin-top: -70px;
      height: 70px;
      pointer-events: none;
    }
  }

  h1 {
    &:first-of-type {
      &:before {
        margin-top: -300px;
        height: 300px;
      }
    }
    font-size: 24px;
    margin: 28px 0 0;
  }
  h2 {
    font-size: 22px;
    margin:1em 0 0;
    line-height: 1.5em;
  }
  h3 {
    font-size:20px;
    margin:1.5em 0 0;
    line-height: 1.5em;
  }
  h4 {
    font-size: 18px;
    margin:1.5em 0 0; 
    line-height: 1.5em;
  }
  h5 {
    font-size: 16px;
    margin:1.5em 0 0;
    line-height: 1.5em;
  }
  h6 {
    font-size: 15px;
    margin:1.5em 0 0;
    line-height: 1.5em;
  }
  p {
    color:#686868;
    font-size: 16px;
    padding-left:1em;
  }

  a {
    color: #4a90e2;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    max-width: 100%;
  }

  table {
    padding: 0;
    margin: {
      left: 21px;
    }

    tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;
      &:nth-child(2n) {
        background-color: #f8f8f8;
      }

      th {
        font-weight: bold;
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }
      td {
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }
      th:first-child,
      td:first-child {
        margin-top: 0;
      }
      th:last-child,
      td:last-child {
        margin-bottom: 0;
      }
    }
  }

  figure {
    table {
      .gutter {
        display: none;
      }
      .code {
        border: none;
        background: #f7f7f7;
      }
      tr {
        border: none;
      }
    }
  }
}
