.tooltip {
  display: inline-block;
  float: right;
  position: relative;
  top: 10px;
  right: 20px;

  .tooltiptext {
    display: none;
    width: 60px;
    background-color: $black;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 170%;
    left: 50%;
    margin-left: -30px;
    font-size: .7em;

    &:after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $black transparent;
    }
  }
}