.tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted $black;
  top: 12%;
  left: 93%;

  .tooltiptext {
    display: none;
    width: 40px;
    background-color: $black;
    color: #fff;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    top: 170%;
    left: 50%;
    margin-left: -20px;
    font-size: .6em;

    &:after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $black transparent;
    }
  }
}