.widget-wrapper {
  @media (max-width: $widget-bp) {
    display: none;
  }
  float: left;
  width: 50px;
  &,
  .widget {
    width: 50px;
  }

  .widget {
    position: fixed;
    bottom: 100px;
    margin: {
      left: 20px;
    }

    &>a, &>div>a {
      color: #000;
      display: block;
      height: 50px;
      background: #ddd;
      padding: 10px;
      margin: 10px 0;
      font-size: 13px;
      text-align: center;

      -webkit-transition: background 0.5s;
      -moz-transition: background 0.5s;
      -ms-transition: background 0.5s;
      -o-transition: background 0.5s;
      transition: background 0.5s;

      &:hover {
        background: white;
      }
    }

    &>div{
      position: relative;

      &>a#share{
        line-height: 30px;
        cursor: pointer;
      }

      &:hover>div.social-share {
        display: block;
      }

      &>div.social-share {
        display: none;
        position: absolute;
        top: -75px;
        left: 50px;
        padding-left: 10px;

        &:hover {
          display: block;
        }
      }

    }
  }


}
