.widget {
  font-weight: bold;
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 60px;

  a {
    color: #000;
    display: block;
    background: #ddd;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    text-align: center;

    &:hover {
      color: $black;
    }
  }
}
