.widget-wrapper {
  float: left;
  width: 50px;
  &,
  .widget {
    width: 50px;
  }

  .widget {
    position: fixed;
    bottom: 100px;
    a {
      color: #000;
      display: block;
      height: 50px;
      background: #ddd;
      padding: 10px;
      margin: 10px 0;
      font-size: 13px;
      text-align: center;

      &:hover {
        color: $black;
      }
    }
  }
}
